body {
    background: HoneyDew;
}

.div1 {
    background-color: olivedrab;
    color: HoneyDew;
    font-family: "Optima", "Geneva", sans-serif;
    width: auto;
    padding: 5%;
    font-size: 160%;
    text-align: center;
}

.div2 {
    position:absolute;
    right: 0.5%;
    top: 26%;
    background-color: olivedrab;
    color: HoneyDew;
    font-family: "Optima", "Geneva", sans-serif;
    width: 10%;
    height: 52%;
    font-size: 120%;
    padding: 3%;
    text-align:center;
    align-content: right;
}

.div3 {
    position:absolute;
    left: 0.5%;
    top: 26%;
    background-color: olivedrab;
    color: HoneyDew;
    font-family: "Optima", "Geneva", sans-serif;
    width: 10%;
    height: 52%;
    font-size: 120%;
    padding: 3%;
    text-align:center;
    align-content: right;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_column_cards*/


/*
.column {
    position: relative;
    left: 24%;
    float:left;
    width: 5%;
    height: 5%;
    padding: 5%;
}

.row {
    position: relative;
    margin: -3% 0
}

.row::after {
    content: "";
    clear: both;
    display: table;
    align-items: center;
  }

.row img {
    position: relative;
    background-color: olivedrab;
    padding: 5%
}

.row p {
    position: relative;
    text-align: center;
    font-size: 120%;
    font-family: "Optima", "Geneva", sans-serif;
    background-color: brown;
    color: seashell;
    height: 200%;
    width: 210%;
}*/

.grid {
    position: relative;
    padding: 1.5%;
    left: 27%;
    width: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10%;
}

.grid img {
    width: 100%;
    height: 80%;
    padding: 1%;
}

.grid p {
    font-size: 120%;
    text-align: center;
    color: honeydew;
}

.grid div {
    background-color: olivedrab;
    padding: 8%;
    align-items: center;
}